.container {
  background-color: #ebebeb;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 48px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  margin: 42px 0 0 26px;
}

.hero-content-text {
  background-color: white;
  border-radius: 32px;
  padding: 32px;
  margin-top: 52px;

  h1 {
    margin-bottom: 24px;
  }

  ul {
    margin-bottom: 42px;
  }

  li {
    margin-bottom: 12px;
  }

  button {
    border-radius: 84px;
    border: 1px solid transparent;
    padding: 16px 28px;
    font-weight: 700;
    color: white;
    background-color: var(--orange);
  }
}

.hero-content-text button ~ p {
  font-weight: 500;
  font-size: 12px;
}

.title ~ .subtext {
  font-weight: 300;
  font-size: 16px;
}

.demo-frame {
  z-index: 2;
  margin: -24px -16px;
  display: flex;
  align-items: center;
}

.demo-gif {
  position: absolute;
  z-index: 1;
  transform: scaleX(0.76) scaleY(0.7);

  top: 2px;
  left: -16px;
  // display: flex;
  // align-items: center;
}

.hero-content-text button ~ p,
.title ~ .subtext {
  opacity: 0.5;
  margin-top: 8px;
}

.steps-to-value-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.step {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  width: 314px;

  align-items: center;
  text-align: center;

  .circle {
    border-radius: 100%;
    background-color: transparent;
    border: 2px solid black;
    margin-bottom: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 82px;
    width: 82px;

    font-size: 42px;
    color: var(--orange);
  }
}

.footer {
  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;

  /* Box-model */
  padding: 48px 0 48px 140px;

  /* Text */
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;

  /* Color */
  background-color: #3c3c3c;
  color: white;

  li {
    margin-bottom: 18px;
  }
}
